
<div class="nav">
	<h1 class="header-title">Amanda Lynn Williams</h1>

	<div class="nav-container">
		<a class="nav-item" href="https://www.behance.net/amandalynnwilliams" target="_blank">behance
			{{!-- <img class="nav-item" src="http://res.cloudinary.com/dxefmitas/image/upload/v1503868893/benhance-icon_tey7un.png"> --}}
		</a>
		<a class="nav-item" href="https://www.linkedin.com/in/amandalynn1231/" target="_blank">linkedin
			{{!-- <img class="nav-item" src="http://res.cloudinary.com/dxefmitas/image/upload/v1503868893/linkedin-icon_sbwudo.png"> --}}
		</a>
		<a class="nav-item" id='text-link' href="http://res.cloudinary.com/dxefmitas/image/upload/v1503809353/resume2016_wqxpee.pdf" target="_blank">resume</a>
		</div>
</div>