@import url('https://fonts.googleapis.com/css?family=Lobster');


.nav {
	position: fixed;
	z-index: 11;
	padding: 20px;
	top: 0;
	z-index: 20;
}

.header-title {
	position: fixed;
	font-family: 'brandon-grotesque', sans-serif;
	font-style: thin;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
}

.nav-container {
	position: fixed;
	right: 5%;
	padding-top: 2px; 
}

.nav-item {
	float: left;
	color: #000000; /*#FFCD05*/
 	padding-right: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	padding-left: 5px;
	/*text-shadow: 2px 1px 8px #f8f8f8;*/
	/*width: 20px;*/
	/*max-height: 30px;*/
	text-decoration: none;
	z-index: 20;
	overflow: visible;
	/*text-transform: uppercase;*/
}

.nav-item:hover {
	color: #FFCD05;
	/*opacity: 0.5;*/
	text-decoration: line-through;
}

