
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.project-preview {
	width: 95%;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease;
       -moz-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
    		transition: opacity 0.3s ease;
    cursor: pointer;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

/*.grid-sizer {
	width: 90%;
}*/

.project-list.view-single .project-preview .preview-inner-wrapper {
	opacity: 0;
}

.project-preview .fade {
	opacity: 0;
}

.preview-inner-wrapper {
	position: relative;
	transition: transform 0.3s ease;    
	transform-origin: center;
	box-shadow: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 10; 
}

.project-preview:hover .preview-inner-wrapper {
     box-shadow: 1px 1px 10px #E2E2E2;
}

.project-list.view-single .project-preview.is-active-project:hover .preview-inner-wrapper {
     box-shadow: 1px 1px 10px #E2E2E2;  
}

.project-list .hover-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	/*background-color: #0E9F4F; */
	opacity: 0;
    -webkit-transition: opacity 0.3s ease;
       -moz-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
    		transition: opacity 0.3s ease;
    box-shadow: none;
    margin: 0 auto;
    left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	 z-index: 1;
}

.project-preview:hover .hover-overlay {
	opacity: 0.5;
}

.project-list.view-single .project-preview.is-active-project:hover .hover-overlay {
	opacity: 0;
}	

.text-wrapper {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: #ffffff;
	text-align: center;
}

.text-wrapper .preview-title {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0;
	line-height: 120%;
}	

.text-wrapper .preview-description {
	font-family: 'brandon-grotesque', sans-serif;
	font-weight: 400;
	opacity: 0;
	padding-top: 3%;
	line-height: 120%;
	font-size: 18px;
}

.project-list .project-preview:hover .text-wrapper .preview-title,
.project-list .project-preview:hover .text-wrapper .preview-description {
	opacity: 1;
}

.thumbnail {
	position: relative;
	display: block;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
	opacity: 0.9;
}

/*.project-preview:hover .thumbnail {
	filter: hue-rotate(90deg);
}*/
