
.project-list {
	width: 90%;
	height: auto;
	margin: 0 auto;
	z-index: 0;
	opacity: 1;
}

/*.grid-sizer {
	width: 30%;
}*/

.show-all {
	position: fixed;
	top: 8vw;
	right: 5vw;
	z-index: 10;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
}

.show-all:hover {
	color: #FEC52E;
	text-decoration: line-through;
}

.show-all:hover:before {
	background: #fff;
  	width: 100%;
  	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.show-all:hover:after {
	background: transparent;
  	width: 100%;
  	transition: 0s;
}

.gridz {
  	/*position: absolute;*/
  	margin-top: 6%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#project-col-1,
#project-col-2 {
  	width: 49%;
  	vertical-align: top;
}

#project-col-1 {
	float: left;
}

#project-col-2 {
	float: right;
}

@media screen and (max-width: 600px)
and (orientation: portrait) {
	.project-list {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	.gridz {
		margin-top: 70px;
		width: 100%;
	}

	#project-col-1,
	#project-col-2 {
		width: 100%;
		margin-left: auto;
		margin-right: auto; 
	    vertical-align: none;
	    float: none;
	}
}

 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.gridz {
  		margin-top: 50px;
  	}
  }










