@font-face {
  font-family: 'Gotham';
  src: url('Gotham.eot'); /* IE9 Compat Modes */
  src: url('Gotham.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham.woff2') format('woff2'), /* Super Modern Browsers */
       url('Gotham.woff') format('woff'), /* Pretty Modern Browsers */
       url('Gotham.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*
All universal body stylings should in this section
*/

header {

}

body {
  font-family: Gotham, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  color: #ffffff;
  text-align: center;
} 

h1.title {
  text-align: center;
  text-transform:capitalize;
  letter-spacing: 2px;
  line-height: 40px;
}

.text {
  text-align: center; 
  padding-left: 20px;
  padding-right: 20px;
  line-height: 36px;
 }


.content {
  /*background-size: 100% 15%;*/
}

.logo img {
  /*make this shit small yo*/
  margin: 5%;
  max-height: 150px;
}

.nav { 
  background-color: #646470;
  height: 40px;
  width: 100%;
}
 .triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: #2d3444;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15px;
}

/*.article {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}*/
 
 header {
  padding-top: 30px;
 }

.title {
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  line-height: 40px; 
}

.cinch-dude {
   display: block;
   /*margin-left: ; 
   margin-right: auto;*/
}

.cinch-dude img {

  min-width: 35%;
  max-width: 123px;
}

.mid-panel {
  width: 80%;
  max-width: 600px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 12px;
}

.button-header {
  color: #ffffff;
  width: 100%;
  min-height: 150px;
  border: none;
  
}

.button-header h2 {
  text-transform: capitalize;
  font-size: 24px;
}

.button-header h3 {
  text-transform: capitalize;
  font-size: 18px;
}

.magenta {
  background-color: #7d2854;
 }

.green {
  background-color: #00a15a;
 }

.blue {
  background-color: #4bc1e1;
}

.blue:hover {
  min-height: 160px;
  border-bottom: 2px solid #4bc1e1; 
  border-top: 2px solid #4bc1e1; 
}

.magenta:hover {
  min-height: 160px;
  border-bottom: 2px solid #7d2854;
  border-top: 2px solid #7d2854;
}

.green:hover {
  min-height: 160px;
  border-bottom: 2px solid #00a15a; 
  border-top: 2px solid #00a15a; 
}

.secure {
  padding-top: 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px; 
}

.secure img {
  width: 60px;
}

.secure p {
  color: #2d3444;
  font-weight: bold;
}

.footer {
  color: #000000;
  text-align: left;
  padding-left: 5px;
}

.info {
  width:100%;
  float: left;
  position: relative;
}

.media-links {
  width: 100%;
  max-width: 200px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.media-links img {
  width:40px;
  float: center;
  position: relative;
}


footer {
  /*make responsive*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  color: #a4c1e1;
  margin-top: 10px;

}

/*Nav Styling*/  /*Thought I'd help here*/
nav {}
nav ul {}
nav li {
  display: inline-block;
  list-style: none;
}
/*.logo img {
  max-height: 150px;
} */


/*
If necessary, individual page styles go here
*/


./*about-btn {
  font-family: Gotham, sans-serif;
  font-size: 20px;
  font-style: white;
  position: center;
  text-align: center;
}*/

.card-btn {
  display: block;
  width: 100%;

}



.light-panel {
  background-color: #e9dede;
  padding-top: 20px;
  padding-bottom: 20px;
}

.light-panel h1 {
  color: #7d2854;
  line-height: 36px;
}

.gridz {
  width: 100%;
}

.grid {
  height: 220px;
  width: 80%;
  max-width: 220px;
  /*overflow-x: scroll;
  overflow-y: hidden;*/
}

.grid ul {
    
  position: relative;
  height: 200px;
  width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.grid ul li {
    
  display: inline-block;
  float: left;
  height: 100px;
}

/*
.grid img {
  width:285px;
  float: center;
  position: relative;

}
*/
.company-btn {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border: none;
  /*border: 5px solid #7d2854;*/
  margin: 10px;
}

@media (max-width: 530px) {
    .company-btn {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: none;
    margin: 10px;
    border: 5px solid #7d2854;
  }
}


.company-btn img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  float: center;
} 

.company-btn:hover {
  background-color: rgba(125, 40, 84, .25);
  border: 10px solid #7d2854;
  z-index: 10;
}

.company-btn img:hover {
  opacity: .25;
  z-index: 11;
}

button.not-listed {
  color: #2d3444;
  background-color: #b7e6f3;
  border: 2px solid #c5ebf5;
  border-radius: 12px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

button.not-listed:hover {
  background-color: rgba(45, 52, 68, .25);
  border: #2d3444;
}

.dark-footer {
  color: #2d3444;
}
